version: "3.8"

services:
  mongo:
    image: mongo:6.0
    container_name: progtalk_db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data:
