.text-center {
  text-align: center;
}

.mt-3 {
  margin-top: 1rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

a {
  color: #f438b2;
  text-decoration: none;
  font-weight: bold;
}

.header-text h1 {
  font-size: 2.5rem;
  color: #2c3e50;
  margin: 0;
}
.header-text p {
  color: #6c757d;
  margin: 0.5rem 0 0 0;
  font-size: 1.1rem;
}

.layout-container {
  padding: 2rem;
}

.icon-box {
  width: 40px;
  height: 40px;
  background-color: #fee0f4;
  color: #e91f98;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient {
  background: linear-gradient(90deg, #ef4fa5 0%, #fd90eb 100%);
}

/* moze sie uda powtorzyc */
.user-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-info-col {
  display: flex;
  flex-direction: column;
}

.username {
  font-size: 0.85rem;
  font-weight: 600;
  color: #495057;
}

.date {
  font-size: 0.8rem;
  color: #adb5bd;
  display: flex;
  align-items: center;
  gap: 4px;
}

/* pola w formularzach */

.field {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* login i rejestracja */

.login-card {
  width: 100%;
  max-width: 450px;
  border-radius: 12px;
}

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* moze style dla empty i loading???? */
