.text-center {
  text-align: center;
}

.field {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.login-card {
  width: 100%;
  max-width: 450px;
  border-radius: 12px;
}

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.mt-3 {
  margin-top: 1rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

a {
  color: #f438b2;
  text-decoration: none;
  font-weight: bold;
}
